<% include ../parts/header.ejs %>
    <article class="container">
        <header><h1>Welcome</h1></header>
        <p>Login or Register with:</p>
        <a href="/login">Login</a>
        <a href="/signup">Register</a>
    </article>
<% include ../parts/header.ejs %>    
