<% include ../parts/header.ejs %>
    <article class="home">
        <header><h1>Home</h1></header>
        <a href="/auth/facebook">Login with facebook</a>
    </article>
<% include ../parts/footer.ejs %>    
    
