<% include ../parts/header.ejs %>
    <article class="container">
        <header><h1>Login</h1></header>

        <% if (message.length > 0) { %>
            <p>init message</p>
            <div><%= message %></div>
        <% } %>

        <form action="/login" method="post">
            <label>Email</label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Login</button>
        </form>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </article>
<% include ../parts/footer.ejs %>