<% include ../parts/header.ejs %>
<% include ../parts/nav.ejs %>
    <article class="overview">
        <header>
            <h3>Welcome</h3>
            <h4>Discover events:</h4>
        </header>
        <ul>
            <li><a href="#">Test 1</a></li>
            <li><a href="#">Test 2</a></li>
            <li><a href="#">Test 3</a></li>
        </ul>
    </article>  
<% include ../parts/footer.ejs %>
