<% include ../parts/header.ejs %>
    <a href="/logout">Logout</a>


	<!-- LOCAL INFORMATION -->
	<h3><span></span> Local</h3>

	<p>
		<strong>id</strong>: <%= user._id %><br>
		<strong>email</strong>: <%= user.local.email %><br>
		<strong>password</strong>: <%= user.local.password %>
	</p>
<% include ../parts/footer.ejs %>
