<% include ../parts/header.ejs %>
    <article class="profile">
        <a href="/logout">Logout</a>
        <header><h3>Local</h3></header>
        <p><strong>id</strong>: <%= user._id %></p>
        <p><strong>email</strong>: <%= user.local.email %></p>
        <p><strong>password</strong>: <%= user.local.password %></p>
    </article>  
<% include ../parts/footer.ejs %>
