<% include ../parts/header.ejs %>
    <article class="signup">
        <header><h1>Signup</h1></header>

        <% if (message.length > 0) { %>
           <h1>Errors</h1>
           <div><%= message %></div>
        <% } %>

        <form action="/signup" method="post">
            <label>Email</label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Signup</button>
        </form>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </article>
<% include ../parts/footer.ejs %>
